html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(14, 14, 14);

}

#viewDiv {
    padding: 0;
    margin: auto;
    height: 90%;
    width: 100%;
    z-index: 1;
}

#layerToggle {
    top: 150px;
    right: 20px;
    width: 200px;
    position: absolute;
    z-index: 99;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    opacity: 0.5;
}

#infobox {
    top: 220px;
    right: 20px;
    position: absolute;
    width: 200px;
    max-height: 500px;
    overflow: auto;
    z-index: 99;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    opacity: 0.5;
    font-size: 10pt;
}

#infoboxTimer {
    top: 320px;
    right: 20px;
    position: absolute;
    width: 200px;
    max-height: 350px;
    overflow: auto;
    z-index: 99;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    opacity: 0.5;
    font-size: 10pt;
}

#timerInfos {
    max-height: 100px;
    overflow: auto;
}

#dateDisplay {
    position: absolute;
    z-index: 50;
    text-align: center;
    background-color: white;
    right: 20px;
    opacity: 0.5;
    bottom: 20px;
    width:  200px;
    border-radius: 8px;
    padding: 10px;
}

#dateBoxSlider{
    position: absolute;
    z-index: 50;
    text-align: center;
    background-color: white;
    left: 0;
    opacity: 0.5;
    bottom: 50px;
    width:  200px;
    border-radius: 8px;
    padding: 10px
}

#popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.card {
    width: 18rem;
    position: absolute;
    z-index: 1;
}

.navbar {
    background-color: rgb(14, 14, 14);
    color: white;

}

.nav-tabs {
    margin-left: 10px;;
    margin-bottom: -4px;
    padding: 7px 12px 10px;
    font-weight: 300;
    border: none;
    border-radius: 6px 6px 0 0;
    padding: 5px;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;

}

#nav {
    background-color: rgb(14, 14, 14);

}
.nav-item {
    background-color: #5f7889;
    margin-left: 10px;

}

.nav {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

*, ::after, ::before {
    box-sizing: border-box;
    border-top-left-radius: .40rem;
    border-top-right-radius: .40rem;
}


.nav-tabs .nav-link.active {
    color: white;
    background-color: #69b8d2;
    border-color: #69b8d2;
}

a:-webkit-any-link {
    color: white;
}

#slider {
    position: absolute;
    z-index: 99;
    background-color: white;
    opacity: 0.5;
    bottom: 0;
    width:  100%;
}

#myRange {
    -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#myRange:hover {
    opacity: 1;
  }
  
 #myRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #222222;
    cursor: pointer;
  }
  
#myRange::-moz-range-thumb {
    background: #222222;
    cursor: pointer;
  }

.canvas_slider {
    position: absolute;
    z-index: 10 !important;
    background-color: #ec4637 !important;
    top: 0;
}

.container-fluid {
    position: absolute;
    right: 20px;
    bottom: 10px;
    width: 100%;

}

#titel {
    font-family: "Helvetica Neue";
    font-weight: 330;
    margin-right: 70px;
    letter-spacing: 1px;
    font-size: 20px;
}

#overview {
    color: white;
}