html, body {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
	background-color: rgb(14, 14, 14);

}

#viewDiv {
	padding: 0;
	margin: auto;
	height: 100%;
	width: 1000%;
	z-index: 1;
}

#layerToggle {
      top: 20px;
      right: 20px;
      position: absolute;
      z-index: 99;
      background-color: white;
      border-radius: 8px;
      padding: 10px;
      opacity: 0.75;
}

#popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}

.card {
	width: 18rem;
	position: absolute;
	z-index: 1;
}
	
.navbar {
    background-color: rgb(14, 14, 14);
	color: white;
	
}

.navbar-brand {
	font-family: "Helvetica Neue";
	font-weight: 330;
	margin-left: 20px;
	letter-spacing: 1px;
}

.nav-tabs {
	margin-left: 10px;;
	margin-bottom: -4px;
    padding: 7px 12px 10px;
    font-weight: 300;
    border: none;
    border-radius: 6px 6px 0 0;
	padding: 5px;
	font-family: "Helvetica Neue";
	letter-spacing: 1px;

}

#nav {
	    background-color: rgb(14, 14, 14);

}
.nav-item {
  background-color: #5f7889;
	margin-left: 10px;

}

.nav {
	list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

*, ::after, ::before {
    box-sizing: border-box;
    border-top-left-radius: .40rem;
    border-top-right-radius: .40rem;
}

.nav-tabs .nav-link.active {
    color: white;
    background-color: #69b8d2;
    border-color: #69b8d2;
}